# Entorno virtual de Python
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
/staticfiles/
/media/

# Variables de entorno (secretos)
.env

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos temporales de Word
~$*.docx
